RITMAGULA_DATABASE_URL=jdbc:postgresql://127.0.0.1:5432/ritmagula
RITMAGULA_DATABASE_USER=ritmagula
RITMAGULA_DATABASE_PASSWORD=replace-locally
RITMAGULA_BACKEND_PORT=8080
RITMAGULA_BACKEND_ADDRESS=127.0.0.1
RITMAGULA_RETENTION_CLEANUP_DELAY_MS=300000
RITMAGULA_RETENTION_CLEANUP_INITIAL_DELAY_MS=30000
RITMAGULA_RISK_BASE_URL=http://127.0.0.1:8000
RITMAGULA_FOOD_BASE_URL=http://127.0.0.1:8001
RITMAGULA_API_KEY=
RITMAGULA_ALLOWED_ORIGINS=http://127.0.0.1:8081,http://localhost:8081
